---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout><p><style>
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0 40px 0; /* Updated margin */
    padding-top: 5px; /* Added padding */
  }

  .contact-icon {
    font-size: 48px;
    color: #6e3667;
    margin-bottom: 10px;
  }

  .contact-title {
    font-size: 24px;
    color: #6e3667;
    margin-bottom: 10px;
  }
  .contact-details {
    font-size: 18px;
    color: #6e3667;
    margin-bottom: 10px;
  }
</style>
  <div class="contact-container">
    <h1 style="color: #6e3667; font-size: 36px; margin-bottom: 10px;">Contact Me</h1>
    <p style="color: #6e3667; font-size: 18px;">Feel free to reach out to me, I'd love to hear from you!</p>
  </div>
  <div class="contact-container">
    <div>
      <i class="contact-icon fas fa-envelope"></i>
      <h2 class="contact-title">Email</h2>
      <p class="contact-details">inaas1710@gmail.com</p>
    </div>
    <div>
      <i class="contact-icon fas fa-phone"></i>
      <h2 class="contact-title">Phone</h2>
      <p class="contact-details">+44 7419777300</p>
    </div>
    <div>
      <i class="contact-icon fas fa-map-marker-alt"></i>
      <h2 class="contact-title">Address</h2>
      <p class="contact-details">Insert address</p>
    </div>
  </div>
</BaseLayout></p></BaseLayout>


