---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout><p><div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
<img src="/images/gallery1.JPG" alt="Image Description 1" style="width: 33%; margin-right: 20px;">
<img src="/images/gallery2.JPG" alt="Image Description 1" style="width: 33%; margin-right: 20px;">
<img src="/images/gallery3.JPG" alt="Image Description 2" style="width: 33%; margin-right: 20px;">
</div>
<div style="display: flex; justify-content: space-between; margin-bottom: 20px">
<img src="/public/images/my-third-article/dipeka.jpg" alt="Image Description 1" style="width: 33%; margin-right: 20px;">
<img src="/public/images/my-third-article/dipeka2.jpg" alt="Image Description 1" style="width: 33%; margin-right: 20px;">
<img src="/public/images/my-third-article/dipeka3.jpg" alt="Image Description 2" style="width: 33%; margin-right: 20px;">
</div>
<div style="display: flex; justify-content: space-between;">
<img src="/public/images/gallery6.JPG" alt="Image Description 2" style="width: 33%; margin-right: 20px;">
</div>
  <div>
    <p></p>
  </div>
</BaseLayout>