---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout><p>
  <div style="background-image: url('public/images/Pink and Purple Personal Everyday Vlogs YouTube Banner .png'); background-size: cover; background-position: center; height: 200px;"></div>
  <div>
    <p>Content goes here</p>
  </div>
</BaseLayout></p></BaseLayout>