---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout><p>
  <div style="width: 100%; overflow: hidden;">
    <img src="/path/to/banner-image.jpg" alt="Banner Image" style="width: 100%;">
  </div>

  <!-- Rest of the page content --></p></BaseLayout>